* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
}

.wrapper {
    width: 1200px;
    margin-left: 359px;
    position: relative;
}

.head .banner {
    height: 173px;
    background: linear-gradient(360deg, #223036 0%, #223036 100%);
}

.banner .banner_content {
    position: absolute;
    width: 658px;
    height: 87px;
    left: 474px;
    top: 46px;
}

.banner_content span {
    font-size: 14px;
    line-height: 21px;
    font-family: "PTSansCaptionRegular";
    font-feature-settings: 'tnum' on, 'lnum' on;
}

@font-face {
    font-family: "BrutalBold";
    src: url("./assets/fonts/BrutalBold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    font-family: "BrutalMedium";
    src: url("./assets/fonts/BrutalMedium.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
} 
@font-face {
    font-family: "BrutalRegular";
    src: url("./assets/fonts/BrutalRegular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "PTSansBold";
    src: url("./assets/fonts/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    font-family: "PTSansBoldItalic";
    src: url("./assets/fonts/PTSans-BoldItalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: bold; 
} 
@font-face {
    font-family: "PTSansItalic";
    src: url("./assets/fonts/PTSans-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal; 
} 
@font-face {
    font-family: "PTSansRegular";
    src: url("./assets/fonts/PTSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "PTSansCaptionBold";
    src: url("./assets/fonts/PTSansCaption-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
}
@font-face {
    font-family: "PTSansCaptionRegular";
    src: url("./assets/fonts/PTSansCaption-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
}