* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
}

body {
    background-color: #E5E5E5;
}

.wrapper {
    width: 63%;
    height: 2338px;
    margin-left: 18.85%;
    position: relative;
    background-color: #ffffff;
}

.head .banner {
    height: 173px;
    background: linear-gradient(360deg, #223036 0%, #223036 100%);
    display: flex;
}

.banner .banner__menu {
    display: none;
}

.banner .banner_logoMini {
    display: none;
}

.banner .banner_logo {
    width: 370px;
    height: 80px;
    margin: 48px 0 0 3.9%;
}

.banner_logo .logo_name {
    position: absolute;
    top: 69px;
    height: 40px;
}

.logo_name .logo_name__h .h1 {
    position: absolute;
    left: 22px;
}

.logo_name .logo_name__h .h2 {
    position: absolute;
    left: 47px;
}

.logo_name .logo_name__a1 .a1 {
    position: absolute;
    left: 62px;
}

.logo_name .logo_name__a1 .a2 {
    position: absolute;
    left: 77px;
}

.logo_name .logo_name__r1 .r1 {
    position: absolute;
    left: 107px;
}

.logo_name .logo_name__r1 .r2 {
    position: absolute;
    left: 119px;
}

.logo_name .logo_name__r1 .r3 {
    position: absolute;
    left: 123px;
    top: 28px;
}

.logo_name .logo_name__d .d1 {
    position: absolute;
    left: 147px;
}

.logo_name .logo_name__d .d2 {
    position: absolute;
    left: 159px;
}

.logo_name .logo_name__w .w1 {
    position: absolute;
    left: 183px;
}

.logo_name .logo_name__w .w2 {
    position: absolute;
    left: 193px;
    top: 14px;
}

.logo_name .logo_name__w .w3 {
    position: absolute;
    left: 210px;
}

.logo_name .logo_name__a2 .a1 {
    position: absolute;
    left: 232px;
}

.logo_name .logo_name__a2 .a2 {
    position: absolute;
    left: 247px;
}

.logo_name .logo_name__r2 .r1 {
    position: absolute;
    left: 276px;
}

.logo_name .logo_name__r2 .r2 {
    position: absolute;
    left: 288px;
}

.logo_name .logo_name__r2 .r3 {
    position: absolute;
    left: 292px;
    top: 28px;
}

.logo_name .logo_name__e .e1 {
    position: absolute;
    left: 317px;
}

.logo_name .logo_name__e .e2 {
    position: absolute;
    left: 329px;
}

.logo_name .logo_name__e .e3 {
    position: absolute;
    left: 329px;
    top: 15px;
}

.logo_name .logo_name__e .e4 {
    position: absolute;
    left: 329px;
    top: 31px;
}

.banner .banner_content {
    width: 54.6%;
    height: 87px;
    margin: 43px 0 0 4.7%;
}

.banner_content span {
    font-size: 14px;
    line-height: 22px;
    font-family: "PTSansCaptionRegular";
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.banner .banner__search {
    display: none;
}

.banner__btn a {
    position: absolute;
    width: 40px;
    height: 13px;
    left: 95.2%;
    top: 14px;
    font-family: "PTSansBold";
    font-size: 15px;
    line-height: 10px;
    align-items: center;
    text-align: right;
    text-decoration: none;
}

.head .menu {
    position: relative;
    height: 48px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

.menu a {
    margin-left: 28px;
    margin-top: 10px;

    font-family: "BrutalRegular";
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;

    letter-spacing: -0.02em;
    color: #000000;
}

.menu .menu__hide {
    position: relative;
    margin: 17px 0 0 46px;
}

.menu .menu__hide:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    cursor: pointer;
}


.menu .menu__news {
    width: 86px;
    height: 28px;
    margin-left: 44px;
    text-align: center;
    
}

.menu .menu__video {
    width: 76px;
    height: 28px;
    text-align: center;
}

.menu .menu__tests {
    width: 69px;
    height: 28px;
    text-align: center;
}

.menu .menu__series {
    width: 73px;
    height: 28px;
    text-align: center;
}

.menu .menu__categories {
    width: 82px;
    height: 28px;
    text-align: center;
}

.menu .menu__news:hover,
.menu .menu__video:hover,
.menu .menu__tests:hover,
.menu .menu__series:hover,
.menu .menu__categories:hover,
.menu .menu__search2:hover {
    color: #ffffff;
    background: #FAAF3F;
    border-radius: 2px;
}

.menu .menu__search {
    position: relative;
    margin: 17px 10px 0 48.9%;
    text-align: center;
}

.menu .menu__search:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: 0px;
    left: -10px;
    right: -10px;
    cursor: pointer;
}

.menu .menu__search2 {
    display: none;
    text-align: center;
}

.sideSeries {
    position: absolute;
    width: 251px;
    height: 442px;
    left: 881px;
    top: 321px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.side_head__name {
    width: 92px;
    height: 24px;
    margin: 20px 0 0 20px;
    background: #333333;
    border-radius: 2px;
    
    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    padding: 3px 0 0 1px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.side_head__other {
    margin-top: -23.5px;

    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #0776D2;
}

.side_head__other:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.sideSeries .side_head__other {
    width: 61px;
    height: 24px;
    margin-left: 173px;
}

.sideTests .side_head__other {
    width: 59px;
    height: 24px;
    margin-left: 176px;
}

.sideVideo .side_head__other {
    width: 62px;
    height: 24px;
    margin-left: 172px;
}

.sideNews .side_head__other {
    width: 74px;
    height: 25px;
    margin-left: 160px;
}

.sideSeries_body {
    position: absolute;
    top: 55px;
    height: 325px;
}

.sideSeries_body__head {
    margin: 3px 0 0 20px;
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.sideSeries_body_content {
    height: 250px;
    margin: 15px 15px 0 15px;
}

.sideSeries_body_content .content_items1 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin: 25px 0 0 20px;
    color: #333333;
}

.sideSeries_body_content .content_items2 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin: 23px 0 0 20px;
    color: #333333;
}

.sideSeries_body_content .content_items3 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin: 22px 0 0 20px;
    color: #333333;
}

.sideSeries_body_content .content_items1::before,
.sideSeries_body_content .content_items2::before,
.sideSeries_body_content .content_items3::before {
    content: "";
    position: absolute;
    margin-top: 7px;
    margin-left: -20px;
    width: 10px;
    height: 10px;
    background-color: #828282;
    border-radius: 5px;
}

.sideSeries_body_content .content_items1:hover,
.sideSeries_body_content .content_items2:hover,
.sideSeries_body_content .content_items3:hover {
    color: #FAAF3F;
    cursor: pointer;
}

.sideSeries_body_content .content_items1:hover::before,
.sideSeries_body_content .content_items2:hover::before,
.sideSeries_body_content .content_items3:hover::before {
    background-color: #FAAF3F;
}

.sideSeries_body_content .content_progress {
    position: absolute;
    top: 65px;
    width: 10px;
    height: 250px;
}

.content_progress .content_progress__line {
    width: 259px;
    height: 0px;
    margin-left: 5px;
}

.content_progress .content_progress__topline {
    position: absolute;
    top: 0px;
    left: -5px;
    width: 20px;
    height: 15px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%), linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.content_progress .content_progress__bottomline {
    position: absolute;
    top: 210px;
    width: 17px;
    height: 46px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 74.8%);
}

.side__btn {
    position: absolute;
    width: 214px;
    height: 32px;
    bottom: 20px;
    left: 20px;
    background: #FAAF3F;
    border-radius: 2px;

    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    padding-top: 6px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
}

.side__btn:hover {
    background: #F49F21;
    cursor: pointer;
}

.sideTests .side__btn {
    bottom: 23px;
}

.sideTests {
    position: absolute;
    width: 251px;
    height: 374px;
    left: 881px;
    top: 783px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideTests .sideTests_body {
    margin: 16.5px 0 0 19px;
    width: 215px;
    height: 238px;
    background-image: url(./assets/side/sideTests.png);
}

.sideTests_body_content {
    position: relative;
    width: 215px;
    height: 238px;
}

.sideTests_body_content:hover .block__topleftAngle,
.sideTests_body_content:hover .block__toprightAngle,
.sideTests_body_content:hover .block__botleftAngle,
.sideTests_body_content:hover .block__botrightAngle {
    opacity: 1;
}

.sideTests_body_content .content__text {
    margin-left: 20px;
    padding-top: 60px;
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #ffffff;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.content_labels {
    display: flex;
    margin: 68px 0 0 10px;
}

.labels__item {
    display: flex;
    margin-left: 9.5px;
}

.item__num {
    font-family: "PTSansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    margin-left: 5px;

    align-items: center;
}

.sideVideo {
    position: absolute;
    left: 881px;
    top: 1177px;
    width: 251px;
    height: 270px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideVideo_body {
    position: relative;
    width: 214px;
    height: 146px;
    margin: 24px 0 0 20px;
    background-image: url(./assets/side/sideVideos.png);
}

.sideVideo_body:hover .block__topleftAngle,
.sideVideo_body:hover .block__toprightAngle,
.sideVideo_body:hover .block__botleftAngle,
.sideVideo_body:hover .block__botrightAngle {
    opacity: 1;
}

.sideVideo_body .playButton {
    margin: 57px 0 0 91px;
}

.sideVideo__text {
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    margin: 16px 0 0 21px;
    
    color: #333333;
}

.sideNews {
    position: absolute;
    left: 881px;
    top: 1467px;
    width: 251px;
    height: 226px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideNews .side_head__name {
    height: 26px;
    padding-top: 3px;
}

.sideNews_content {
    width: 214px;
    height: 160px;
    margin-left: 20px;
}

.content__date {
    margin: 17px 0 0 1px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #333333;
}

.content__time {
    margin-top: 6px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #516E77;
}

.content__text {
    margin-top: 4px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    color: #333333;
}

.sideNews .content__text:hover {
    color: #FAAF3F;
    cursor: pointer;
}

.main {
    width: 789px;
    height: 2110px;
    margin-left: 6%;
}

.main__head {
    font-family: "PTSansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    margin: 38px 0 0 -2px;
    letter-spacing: -0.02em;
    color: #000000;
}

.main_bigSection {
    position: relative;
    margin-top: 39px;
    width: 100%;
    height: 1120px;
    color: #ffffff;
}

.bigSection_firstBlock {
    position: relative;
    width: 789px;
    height: 492px;
    background-image: url(./assets/bigSection_firstBlock.png);
}

.block__topleftAngle {
    position: absolute;
    top: 8px;
    left: 8px;
}

.block__toprightAngle {
    position: absolute;
    top: 8px;
    right: 8px;
}

.block__botleftAngle {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.block__botrightAngle {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.block__topleftAngle,
.block__toprightAngle,
.block__botleftAngle,
.block__botrightAngle {
    transition: 0.2s;
    opacity: 0;
}

.bigSection_firstBlock:hover .block__topleftAngle,
.bigSection_firstBlock:hover .block__toprightAngle,
.bigSection_firstBlock:hover .block__botleftAngle,
.bigSection_firstBlock:hover .block__botrightAngle {
    opacity: 1;
}

.block__label {
    position: absolute;
    width: 118px;
    height: 24px;
    left: 20px;
    top: 150px;
    background: #FAAF3F;
    border-radius: 2px;
}

.block__label span {
    width: 118px;
    height: 11px;
    padding: 3px 0 0 11px;
    font-family: "BrutalMedium";
    display: flex;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.block__head {
    position: absolute;
    width: 558px;
    height: 83px;
    top: 214px;
    left: 20px;

    font-family: "BrutalBold";
    font-size: 24px;
    line-height: 30px;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.block__content {
    position: absolute;
    width: 720px;
    height: 73px;
    top: 319px;
    left: 20px;

    font-family: "PTSansRegular";
    font-size: 18px;
    line-height: 24px;
}

.block__content span {
    font-family: "PTSansRegular";
    font-size: 18px;
    line-height: 24px;
}

.block__inscription {
    position: absolute;
    width: 294px;
    height: 23px;
    left: 20px;
    top: 436px;
    
    font-family: "PTSansBold";
    font-size: 15px;
    line-height: 24px;
}

.block__inscription span {
    font-family: "PTSansRegular";
    font-size: 10px;
    margin-left: -1px;
}

.block_labels {
    position: absolute;
    left: 590px;
    top: 443px;
    display: flex;
}

.bigSection_secondBlock {
    position: relative;
    width: 789px;
    height: 492px;
    margin-top: 25px;

    display: flex;
}

.secondBlock_left {
    position: relative;
    width: 517px;
    height: 492px;
    background-image: url(./assets/secondBlock_left.png);
}

.secondBlock_left .block__label {
    top: 85px;
}

.secondBlock_left .block__label span{
    padding-left: 28px;
}

.secondBlock_left .block__head {
    width: 430px;
    height: 83px;
    top: 149px;
}

.secondBlock_left .block__content {
    width: 430px;
    height: 100px;
    top: 273px;
}

.secondBlock_left .block__inscription {
    width: 430px;
    height: 100px;
    top: 409px;
}

.secondBlock_left .block_labels {
    left: 10px;
    top: 446.5px;
}

.secondBlock_right {
    position: relative;
    width: 247px;
    height: 492px;
    margin-left: 25px;
    background-image: url(./assets/secondBlock_right.png);
}

.secondBlock_left:hover .block__topleftAngle,
.secondBlock_left:hover .block__toprightAngle,
.secondBlock_left:hover .block__botleftAngle,
.secondBlock_left:hover .block__botrightAngle,
.secondBlock_right:hover .block__topleftAngle,
.secondBlock_right:hover .block__toprightAngle,
.secondBlock_right:hover .block__botleftAngle,
.secondBlock_right:hover .block__botrightAngle {
    opacity: 1;
}

.secondBlock_right .block__label{
    top: 85px;
    left: 20px;
}

.secondBlock_right .block__label span{
    padding-left: 28px;
}

.secondBlock_right .block__head {
    width: 217px;
    height: 186px;
    top: 149px;
}

.secondBlock_right .block__inscription {
    width: 430px;
    height: 100px;
    top: 409px;
    left: 18px;
}

.secondBlock_right .block_labels {
    left: 9px;
    top: 446.5px;
}

.bigSection__text {
    width: 791px;
    height: 66px;
    margin: 28px 0 0 -2px;
}

.bigSection__text span {
    font-family: "PTSansRegular";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.bigSection__text b {
    font-family: "PTSansBold";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.best_head {
    height: 50px;
    display: inline-flex;
}

.best_head__item {
    height: 29px;
    margin: 15px 0 0 -1px;
    font-family: "PTSansBold";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.best_head__item + .best_head__item {
    margin-left: 55px;
}

.best_head__item.first {
    width: 128px;
}

.best_head__item.second {
    width: 108px;
}

.best_head__item.third {
    width: 158px;
    margin-left: 45px;
}

.best_head__item.second2 {
    display: none;
}

.best_head__item.third2 {
    display: none;
}

.best_head__item:hover {
    cursor: pointer;
    border-bottom: 2px solid #F7AB32;
}

.nav_arrows {
    display: flex;
    margin: 16px 0 0 248px;
}

.nav_arrows__arrleft {
    position: relative;
    width: 13px;
    height: 13px;
}

.nav_arrows__arrleft:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    cursor: pointer;
}

.nav_arrows__arrright {
    position: relative;
    width: 13px;
    height: 13px;
    margin-left: 22.5px;
}

.nav_arrows__arrright:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    cursor: pointer;
}

.best_content {
    display: flex;
    margin: 23px 0 0 -1px;
}

.best_content .section {
    width: 250px;
    height: 177px;
}

.best_content .section + .section {
    margin-left: 20px;
}

.section.first {
    position: relative;
    background-image: url(./assets/section1.png);
}

.section.second {
    position: relative;
    background-image: url(./assets/section2.png);
}

.section.third {
    position: relative;
    background-image: url(./assets/section3.png);
}

.section:hover .block__topleftAngle,
.section:hover .block__toprightAngle,
.section:hover .block__botleftAngle,
.section:hover .block__botrightAngle {
    opacity: 1;
}

.section .section__head {
    margin-top: 15px;
    margin-left: 20px;
    font-family: "BrutalBold";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.section .section__head span {
    word-spacing: 9999999px;
    font-family: "BrutalBold";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.section .block_labels {
    top: 141px;
    left: 9.5px;
}

.main .series {
    width: 810px;
    height: 600px;
    margin: 35px 0 0 -10px;
    overflow: hidden;
}

.series .section_title {
    display: none;
}

.series_head {
    height: 39px;
    margin: 3px 0 0 8px;
    display: inline-flex;
}

.series_head .nav_arrows {
    margin: 1px 0 0 663px;
}

.series_head .head__text{
    font-family: "PTSansCaptionRegular";
    font-size: 28px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.series_content {
    margin: 22px 0 0 9px;
    display: flex;
}

.series_section.third {
    display: none;
}

.series_section {
    position: relative;
    min-width: 380px;
    height: 516px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.series_section + .series_section {
    margin-left: 29px;
}

.series_section .section__head {
    margin: 21px 0 0 21px;
    width: 250px;
    height: 46px;
    
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.series_section .section_body {
    margin: 20px 0 0 16px;
    width: 340px;
    height: 370px;
}

.section_body .body_progress {
    position: relative;
    margin-left: 1px;
    width: 15px;
}

.progress__line {
    margin-left: 5px;
}

.progress__topline {
    position: absolute;
    width: 20px;
    height: 8px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%), linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.progress__bottomline {
    position: absolute;
    top: 330px;
    width: 17px;
    height: 46px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 74.8%);
}

.body_items {
    position: absolute;
    left: 41px;
    top: 93px;
}

.body_item {
    width: 320px;
    height: 20px;
    
    font-family: "PTSansRegular";
    font-size: 15px;
    line-height: 21px;
    color: #333333;
}

.body_item::before {
    content: "";
    position: absolute;
    margin: 7px 0 0 -24px;
    width: 10px;
    height: 10px;
    background-color: #828282;
    border-radius: 5px;
}

.body_item:hover {
    color: #FAAF3F;
    cursor: pointer;
}

.body_item:hover::before {
    background-color: #FAAF3F;
}

.body_item span {
    font-family: "PTSansRegular";
    font-size: 15px;
    line-height: 21px;
    color: inherit;
}

.body_item + .body_item {
    margin-top: 25px;
}

.body_item.first {
    height: 20px;
}

.body_item.second {
    height: 41px;
}

.body_item.third {
    height: 59px;
}

.series_section .section_btn {
    margin-left: 90px;
    width: 197px;
    height: 32px;
    
    background: #FAAF3F;
    border-radius: 2px;
}

.series_section .section_btn:hover {
    background: #F49F21;
    cursor: pointer;
}

.series_section .section_btn span {
    margin-left: 41px;
    padding-top: 7px;

    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

@media screen and (max-width: 1850px) {
    .main {
        margin-left: 3%;
    }
    
    .bigSection_firstBlock {
        width: 95%;
    }
    
    .block__head {
        width: 90%;
    }
    
    .block__content {
        position: absolute;
        width: 95%;
    }
    
    .block_labels {
        position: absolute;
        left: 70%;
    }
    
    .bigSection_secondBlock {
        width: 95%;
    }
    
    .bigSection__text {
        width: 95%;
    }

    .best {
        width: 95%;
    }
    
    .nav_arrows {
        display: flex;
        margin: 16px 0 0 200px;
    }
    
    .main .series {
        width: 95%;
    }
    
    .series_head .nav_arrows {
        margin-left: 610px;
    }
    
    .series_section {
        min-width: 355px;
    }
    
    .series_section + .series_section {
        margin-left: 23px;
    }
    
    .sideSeries {
        left: 75%;
        margin-right: 15px;
    }
    
    .sideTests {
        left: 75%;
        margin-right: 15px;
    }

    .sideVideo {
        left: 75%;
        margin-right: 15px;
    }
    
    .sideNews {
        left: 75%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1700px) {
    .wrapper {
        width: 73%;
        margin-left: 12.85%;
    }

    .banner .banner_logo {
        width: 340px;
        height: 80px;
        margin: 48px 0 0 3.9%;
    }
    
    .banner_logo .logo_name {
        position: absolute;
        top: 69px;
        height: 40px;
    }

    .banner__btn a {
        left: 94.2%;
    }

    .menu .menu__search {
        margin-left: 46%;
    }

    .main {
        margin-left: 5%;
    }
    
    .bigSection_firstBlock {
        width: 100%;
    }
    
    .bigSection_secondBlock {
        width: 100%;
    }
    
    .bigSection__text {
        width: 100%;
    }

    .best {
        width: 100%;
    }
    
    .nav_arrows {
        margin-left: 190px;
    }
    
    .main .series {
        width: 100%;
    }
    
    .series_section + .series_section {
        margin-left: 40px;
    }

    .series_head .nav_arrows {
        margin-left: 605px;
    }
}

@media screen and (max-width: 1630px) {
    .main {
        margin-left: 6%;
    }
    
    .bigSection_firstBlock {
        width: 95%;
    }
    
    .bigSection_secondBlock {
        width: 95%;
    }
    
    .bigSection__text {
        width: 95%;
    }

    .best {
        width: 95%;
    }
    
    .nav_arrows {
        margin-left: 190px;
    }
    
    .main .series {
        width: 95%;
    }
    
    .series_section + .series_section {
        margin-left: 20px;
    }

    .series_head .nav_arrows {
        margin-left: 605px;
    }
}

@media screen and (max-width: 1530px) {
    .main {
        margin-left: 2%;
    }
    
    .bigSection_firstBlock {
        width: 93%;
    }
    
    .bigSection_secondBlock {
        width: 93%;
    }
    
    .bigSection__text {
        width: 93%;
    }

    .best {
        width: 93%;
    }
    
    .nav_arrows {
        margin-left: 190px;
    }
    
    .main .series {
        width: 94.5%;
    }
    
    .series_section + .series_section {
        margin-left: 20px;
    }

    .series_head .nav_arrows {
        margin-left: 605px;
    }
}

@media screen and (max-width: 1440px) {
    .wrapper {
        width: 84.3%;
        height: 2338px;
        margin-left: 8.4%;
    }
    
    .banner .banner_logo {
        width: 370px;
        margin-left: 3.9%;
    }
    
    .banner .banner_content {
        width: 54.6%;
        margin-left: 4.7%;
    }
    
    .banner__btn a {
        left: 95.2%;
    }
    
    .menu .menu__search {
        margin-left: 48.9%;
    }
    
    .sideSeries {
        left: 881px;
    }
    
    .side__btn {
        padding-top: 7px;
    }

    .sideTests .side__btn {
        bottom: 23px;
    }
    
    .sideTests {
        left: 881px;
    }
    
    .sideVideo {
        left: 881px;
    }
    
    .sideNews {
        left: 881px;
    }
    
    .main {
        width: 789px;
        margin-left: 6%;
    }
    
    .bigSection_firstBlock {
        width: 789px;
    }
    
    .block__head {
        width: 558px;
    }
    
    .block__content {
        width: 720px;
    }
    
    .block__inscription span {
        font-family: "PTSansRegular";
        font-size: 10px;
        margin-left: -1px;
    }
    
    .block_labels {
        left: 590px;
    }
    
    .bigSection_secondBlock {
        width: 789px;
    }
    
    .bigSection__text {
        width: 791px;
    }
    
    .nav_arrows {
        margin-left: 248px;
    }
    
    .best_content {
        width: 108%;
    }
    
    .main .series {
        width: 810px;
    }
    
    .series_head .nav_arrows {
        margin-left: 663px;
    }
    
    .series_section {
        min-width: 380px;
    }
    
    .series_section + .series_section {
        margin-left: 29px;
    }
}

@media screen and (max-width: 1380px) {
    .main {
        margin-left: 3%;
    }

    .sideSeries {
        left: 75%;
        margin-right: 15px;
    }
    
    .sideTests {
        left: 75%;
        margin-right: 15px;
    }

    .sideVideo {
        left: 75%;
        margin-right: 15px;
    }
    
    .sideNews {
        left: 75%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1340px) {
    .main {
        margin-left: 2%;
    }
}

@media screen and (max-width: 1325px) {
    .bigSection_firstBlock {
        width: 98%;
    }
    
    .bigSection_secondBlock {
        width: 98%;
    }
    
    .bigSection__text {
        width: 98%;
    }

    .best {
        width: 90.5%;
    }
    
    .nav_arrows {
        margin-left: 190px;
    }
    
    .main .series {
        width: 101%;
    }
    
    .series_section + .series_section {
        margin-left: 20px;
    }

    .series_head .nav_arrows {
        margin-left: 605px;
    }
}

@media screen and (max-width: 1300px) {

    .wrapper {
        width: 85%;
        margin-left: 8%;
    }

    .menu .menu__search {
        margin-left: 43.9%;
    }

    .bigSection_firstBlock {
        width: 94%;
    }
    
    .block__head {
        width: 90%;
    }
    
    .block__content {
        position: absolute;
        width: 95%;
    }
    
    .block_labels {
        position: absolute;
        left: 70%;
    }

    .bigSection_secondBlock {
        width: 94%;
    }
    
    .bigSection__text {
        width: 94%;
    }

    .best {
        width: 87%;
    }
    
    .nav_arrows {
        margin-left: 190px;
    }
    
    .main .series {
        width: 95%;
    }

    .series_section {
        min-width: 360px;
    }

    .series_section + .series_section {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1240px) {
    .wrapper {
        width: 93%;
        margin-left: 4%;
    }

    .bigSection_firstBlock {
        width: 100%;
    }

    .bigSection_secondBlock {
        width: 100%;
    }
    
    .bigSection__text {
        width: 100%;
    }

    .best {
        width: 100%;
    }
    
    .nav_arrows {
        margin-left: 240px;
    }
    
    .main .series {
        width: 100%;
    }

    .series_section {
        min-width: 370px;
    }

    .series_section + .series_section {
        margin-left: 30px;
    }

    .series_head .nav_arrows {
        margin-left: 650px;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
        margin-left: 0%;
        overflow: hidden;
    }

    .bigSection_firstBlock {
        width: 100%;
    }

    .bigSection_secondBlock {
        width: 100%;
    }
    
    .bigSection__text {
        width: 100%;
    }

    .best {
        width: 100%;
    }
    
    .nav_arrows {
        margin-left: 240px;
    }
    
    .main .series {
        width: 100%;
    }

    .series_section {
        min-width: 370px;
    }

    .series_section + .series_section {
        margin-left: 30px;
    }

    .series_head .nav_arrows {
        margin-left: 650px;
    }
}


@media screen and (max-width: 1110px) {

    .bigSection_firstBlock {
        width: 96%;
    }

    .bigSection_secondBlock {
        width: 96%;
    }
    
    .bigSection__text {
        width: 96%;
    }

    .best {
        width: 89%;
    }
    
    .nav_arrows {
        margin-left: 210px;
    }
    
    .main .series {
        width: 96%;
    }

    .series_section {
        min-width: 350px;
    }

    .series_section + .series_section {
        margin-left: 30px;
    }

    .series_head .nav_arrows {
        margin-left: 620px;
    }
}

@media screen and (max-width: 1070px) {
    .main {
        margin-left: 1%;
    }

    .bigSection_firstBlock {
        width: 92.8%;
    }

    .bigSection_secondBlock {
        width: 92.8%;
    }
    
    .bigSection__text {
        width: 92.8%;
    }

    .best {
        width: 86%;
    }
    
    .nav_arrows {
        margin-left: 180px;
    }
    
    .main .series {
        width: 95%;
    }

    .series_section {
        min-width: 350px;
    }

    .series_section + .series_section {
        margin-left: 20px;
    }

    .series_head .nav_arrows {
        margin-left: 590px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        margin-left: 0px;
    }

    .banner .banner__menu {
        display: none;
    }

    .banner .banner_logo {
        margin-left: 32px;
    }

    .banner .banner_logoMini {
        display: none;
    }

    .banner .banner_content {
        width: 550px;
        margin: 36px 0 0 23px;
    }

    .banner .banner_content span span{
        white-space: nowrap;
    }
    
    .banner .banner__search {
        display: none;
    }

    .banner__btn a {
        width: 40px;
        height: 13px;
        margin: 2px 0 0 -5px;
    }

    .menu .menu__hide {
        left: 39px;
    }

    .menu .menu__news {
        width: 86px;
        height: 28px;
        margin-left: 71px;
    }

    .menu .menu__search {
        margin: 0 18px 0 auto;
    }

    .menu .menu__search2 {
        display: none;
    }

    .main {
        width: 100%;
        margin-left: 12px;
    }
    
    .main__head {
        margin: 29px 0 0 -2px;
    }
    
    .main_bigSection {
        margin-top: 43px;
        width: 72.5%;
    }
    
    .bigSection_firstBlock {
        width: 98.3%;
        background-image: url(./assets/bigSection_firstBlock1024.png);
    }
    
    .block__head {
        position: absolute;
        width: 558px;
        height: 83px;
        top: 214px;
        left: 20px;
    }

    .block__content span {
        font-size: 18px;
        line-height: 24px;
        white-space: nowrap;
    }
    
    .block__inscription {
        display: flex;
        position: absolute;
        left: 20px;
        top: 436px;
    }
    
    .block__inscription span {
        margin: 2px 0 0 2px;
    }
    
    .block_labels {
        left: 73%;
        top: 440px;
    }
    
    .bigSection_secondBlock {
        width: 98.3%;
    }

    .secondBlock_left {
        width: 354px;
        height: 492px;
        background-image: url(./assets/secondBlock_left1024.png);
    }
    
    .secondBlock_left .block__head {
        width: 314px;
    }
    
    .secondBlock_left .block__content {
        display: none;
    }
    
    .secondBlock_left .block_labels {
        top: 446px;
    }
    
    .secondBlock_right {
        width: 354px;
        margin-left: 22px;
        background-image: url(./assets/secondBlock_right1024.png);
    }
    
    .secondBlock_right .block__inscription {
        left: 20px;
    }
    
    .secondBlock_right .block_labels {
        left: 10px;
        top: 446px;
    }
    
    .bigSection__text {
        width: 100%;
    }
    
    .best {
        width: 72%;
        overflow: hidden;
    }

    .best_head__item {
        height: 32px;
        margin: 12px 0 0 -2px;
    }
    
    .best_head__item + .best_head__item {
        margin: 14px 0 0 55px;
    }
    
    .best_head__item.third {
        margin-left: 45px;
    }

    .nav_arrows {
        display: none;
    }
    
    .best {
        margin-left: -5px;
    }

    .best_content {
        overflow: hidden;
        width: 790px;
        margin-left: 3px;
    }
    
    .section .section__head span {
        word-spacing: 9999999px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }

    .best_head {
        margin-left: 5px;
    }

    .section .block_labels {
        top: 141px;
        left: 11px;
    }

    .main .series {
        height: 600px;
        margin-top: 35px;
    }

    .series_head {
        margin-top: -1px;
    }

    .series_head .nav_arrows {
        display: none;
    }

    .series_content {
        width: 750px;
        height: 530px;
        margin: 21px 0 0 4px;
        overflow: hidden;
    }

    .series_section {
        min-width: 352px;
        margin: 5px 0 0 5px;
    }

    .series_section + .series_section {
        margin-left: 28px;
    }

    .series_section .section_body {
        width: 290px;
    }

    .body_item {
        width: 290px;
        height: 20px;
    }

    .body_item span {
        white-space: nowrap;

        font-family: "PTSansRegular";
        font-size: 15px;
        line-height: 21px;
        color: inherit;
    }
    .series_section .section_btn {
        margin-left: 78px;
    }

    .section_btn span {
        margin-top: -1px;
    }

    .sideSeries {
        left: 74.5%;
        top: 319px;
    }
    
    .sideSeries .side_head__name {
        margin-top: 17px;
    }
    
    .sideSeries_body {
        top: 52px;
    }
    
    .sideSeries_body_content .content_items2 {
        margin-top: 24px;
    }

    .side__btn {
        padding: 7px 0 0 2px;
    }

    .sideTests .side_head__other {
        width: 59px;
        height: 24px;
        margin: -25px 0 0 176px;
    }

    .sideTests .side__btn {
        bottom: 23px;
    }
    
    .sideTests {
        left: 74.5%;
        top: 780px;
    }

    .sideTests .side_head__name {
        margin-top: 10px;
    }

    .sideTests_head {
        margin-top: 18px;
    }

    .sideTests .sideTests_body {
        margin: 19px 0 0 19px;
    }

    .sideVideo .side_head__other {
        width: 62px;
        height: 24px;
        margin-left: 172px;
    }

    .sideVideo {
        left: 74.5%;
        top: 1172px;
        width: 251px;
        height: 273px;
    }

    .sideVideo_head {
        margin-top: 50px;
    }

    .sideVideo_body {
        width: 214px;
        height: 148px;
        margin-top: 23px;
        background-image: url(./assets/side/sideVideos1024.png);
    }
    
    .sideVideo_body .playButton {
        margin-top: 58.5px;
    }
    
    .sideVideo__text {
        margin: 17px 0 0 20px;
    }

    .sideNews {
        left: 74.5%;
        top: 1462px;
        height: 229px;
    }
    
    .sideNews .side_head__other {
        margin-top: -26px;
    }
    
    .content__date {
        margin: 19.5px 0 0 0;
    }
    
    .content__time {
        margin: 5px 0 0 -1px;
    }
    
    .content__text {
        margin-top: 7px;
    }
}

@media screen and (max-width: 1000px) {
    
    .block_labels {
        left: 70%;
    }
    
    .secondBlock_left .block__head {
        width: 85%;
    }
    
    .bigSection__text {
        width: 95%;
    }

    .series_section {
        min-width: 328px;
        margin: 5px 0 0 5px;
    }

    .series_section + .series_section {
        margin-left: 18px;
    }

    .series_section .section_btn {
        margin-left: 62px;
    }

    .sideSeries {
        left: 73%;
    }
    
    
    .sideTests {
        left: 73%;
    }

    .sideVideo {
        left: 73%;
    }

    .sideNews {
        left: 73%;
    }
    
}

@media screen and (max-width: 940px) {
    .wrapper {
        overflow: hidden;
        width: 100%;
        height: 2540px;
        position: relative;
        background-color: #ffffff;
    }
    
    .banner .banner__menu {
        display: block;
        position: absolute;
        top: 15px;
        left: 17px;
    }

    .banner .banner_logo {
        margin-left: 30%;
    }

    .banner .banner_logoMini,
    .banner .banner_content,
    .banner .banner__search {
        display: none;
    }
    
    .banner__btn a {
        position: absolute;
        width: 40px;
        height: 13px;
        left: 94%;
        top: 16px;
    }

    .banner__btn a:hover {
        cursor: default;
    }
    
    .head .menu {
        position: relative;
        margin-top: 1px;
        height: 48px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: flex;
    }
    
    .menu .menu__hide {
        display: none;
    }
    
    .menu .menu__news {
        min-width: 86px;
        margin-left: 6%;
    }
    
    .menu .menu__video {
        min-width: 76px;
        margin-left: 8%;
    }
    
    .menu .menu__tests {
        min-width: 69px;
        margin-left: 7%;
    }
    
    .menu .menu__series {
        min-width: 73px;
        margin-left: 7%;
    }
    
    .menu .menu__categories {
        min-width: 82px;
        margin-left: 9%;
    }
    
    .menu .menu__search {
        display: none;
    }

    .menu .menu__search2 {
        display: block;
        height: 28px;
        width: 63px;
        margin: 10px 0 0 9%;
        text-align: center;
        line-height: 28px;
    }

    .menu .menu__news:hover,
    .menu .menu__video:hover,
    .menu .menu__tests:hover,
    .menu .menu__series:hover,
    .menu .menu__categories:hover,
    .menu .menu__search2:hover {
        color: #000000;
        background: #FFFFFF;
        border-radius: 0px;
        cursor: default;
    }

    .sideSeries {
        display: none;
    }
    
    .sideTests {
        display: none;
    }
    
    .content_labels {
        display: flex;
        margin: 68px 0 0 10px;
    }
    
    .labels__item {
        display: flex;
        margin-left: 9.5px;
    }
    
    .item__num {
        font-family: "PTSansCaptionRegular";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        margin-left: 5px;
    
        align-items: center;
    }
    
    .sideVideo {
        display: none;
    }
    
    .sideNews {
        display: none;
    }
    
    .main {
        width: 100%;
        height: 2110px;
        margin-left: 5%;
    }
    
    .main__head {
        margin: 34px 0 0 15px;
    }
    
    .main_bigSection {
        margin-top: 41px;
        width: 768px;
        height: 1300px;
    }
    
    .bigSection_firstBlock {
        width: 768px;
        height: 386px;
        background-image: url(./assets/bigSection_firstBlock768.png);
    }
    
    .bigSection_firstBlock:hover .block__topleftAngle,
    .bigSection_firstBlock:hover .block__toprightAngle,
    .bigSection_firstBlock:hover .block__botleftAngle,
    .bigSection_firstBlock:hover .block__botrightAngle {
        opacity: 0;
    }

    .block__label {
        top: 72px;
    }
    
    .block__head {
        top: 121px;
    }
    
    .block__content {
        display: none;
    }
    
    .block__inscription {
        left: 32px;
        top: 321px;
    }
    
    .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .bigSection_secondBlock {
        position: relative;
        width: 789px;
        height: 788px;
        margin-top: 15px;
        display: block;
    }
    
    .secondBlock_left {
        width: 768px;
        height: 386px;
        background-image: url(./assets/secondBlock_left768.png);
    }
    
    .secondBlock_left .block__label {
        top: 72px;
    }
    
    .secondBlock_left .block__head {
        width: 558px;
        height: 83px;
        top: 121px;
    }
    
    .secondBlock_left .block__content {
        display: none;
    }
    
    .secondBlock_left .block__inscription {
        top: 321px;
    }
    
    .secondBlock_left .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .secondBlock_right {
        width: 768px;
        height: 386px;
        margin: 15px 0 0 0;
        background-image: url(./assets/secondBlock_right768.png);
    }
    
    .secondBlock_right .block__label{
        top: 72px;
        left: 20px;
    }
    
    .secondBlock_right .block__head {
        width: 558px;
        height: 83px;
        top: 121px;
    }
    
    .secondBlock_right .block__inscription {
        top: 321px;
        left: 32px;
    }
    
    .secondBlock_right .block_labels {
        left: 22px;
        top: 355.5px;
    }
    
    .secondBlock_left:hover .block__topleftAngle,
    .secondBlock_left:hover .block__toprightAngle,
    .secondBlock_left:hover .block__botleftAngle,
    .secondBlock_left:hover .block__botrightAngle,
    .secondBlock_right:hover .block__topleftAngle,
    .secondBlock_right:hover .block__toprightAngle,
    .secondBlock_right:hover .block__botleftAngle,
    .secondBlock_right:hover .block__botrightAngle {
        opacity: 0;
    }

    .bigSection__text {
        width: 738px;
        height: 70px;
        margin: 27px 0 0 15px;
    }

    .best {
        width: 80%;
        min-width: 760px;
    }

    .best_head__item {
        height: 34px;
        margin: 15px 0 0 15px;
    }
    
    .best_head__item + .best_head__item {
        margin-left: 55px;
    }
    
    .best_head__item.third {
        margin-left: 45px;
    }
    
    .best_head__item:hover {
        cursor: default;
        border-bottom: none;
    }
    
    .nav_arrows {
        display: none;
    }
    
    .best_content {
        display: flex;
        margin: 25px 0 0 20px;
    }

    .section:hover .block__topleftAngle,
    .section:hover .block__toprightAngle,
    .section:hover .block__botleftAngle,
    .section:hover .block__botrightAngle {
        opacity: 0;
    }
    
    .section .section__head span {
        word-spacing: 9999999px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }

    .section .block_labels {
        top: 141.5px;
        left: 10.5px;
    }
    
    .main .series {
        height: 600px;
        margin-top: 34px;
    }
    
    .series_head {
        margin-top: 3px;
        margin-left: 25px;
    }
    
    .series_head .nav_arrows {
        display: none;
    }
    
    .series_content {
        margin: 25px 0 0 24px;
    }
    
    .series_section {
        min-width: 325px;
        height: 520px;
    }
    
    .series_section + .series_section {
        margin-left: 20px;
    }
    
    .series_section .section_body {
        width: 300px;
    }
    
    .body_item {
        width: 290px;
        height: 20px;
    }

    .body_item:hover {
        color: #333333;
        cursor: default;
    }
    
    .body_item:hover::before {
        background-color: #828282;
    }
    
    .body_item.first {
        height: 20px;
    }
    
    .body_item.third {
        height: 59px;
    }
    
    .series_section .section_btn {
        margin: 12px 0 0 21px;
        width: 285px;
        height: 32px;
    }

    .series_section .section_btn:hover {
        background: #FAAF3F;
        cursor: default;
    }
    
    .series_section .section_btn span {
        margin-left: 85px;
        padding-top: 7px;
    }
}

@media screen and (max-width: 850px) {
    .banner .banner_logo {
        margin-left: 27%;
    }
    
    .menu .menu__news {
        margin-left: 4%;
    }
    
    .menu .menu__video {
        margin-left: 7%;
    }
    
    .menu .menu__tests {
        margin-left: 7%;
    }
    
    .menu .menu__series {
        margin-left: 7%;
    }
    
    .menu .menu__categories {
        margin-left: 7%;
    }

    .menu .menu__search2 {
        margin-left: 9%;
    }

    .main {
        margin-left: 2%;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        overflow: hidden;
        width: 768px;
        height: 2540px;
        position: relative;
        background-color: #ffffff;
    }

    .banner .banner_logo {
        margin-left: 200px;
    }
    
    .banner__btn a {
        position: absolute;
        width: 40px;
        height: 13px;
        left: 718px;
        top: 15px;
    }
    
    .menu .menu__news {
        min-width: 86px;
        margin-left: 7px;
    }
    
    .menu .menu__video {
        min-width: 76px;
        margin-left: 60px;
    }
    
    .menu .menu__tests {
        min-width: 69px;
        margin-left: 58px;
    }
    
    .menu .menu__series {
        min-width: 73px;
        margin-left: 55px;
    }
    
    .menu .menu__categories {
        min-width: 82px;
        margin-left: 57px;
    }

    .menu .menu__search2 {
        display: block;
        height: 28px;
        width: 63px;
        margin: 10px 0 0 73px;
        text-align: center;
        line-height: 28px;
    }
    
    .main {
        width: 768px;
        margin-left: 0px;
    }

    .best {
        min-width: 772px;
    }
    
    .main .series {
        width: 100%;
        height: 600px;
        margin-top: 34px;
    }
    
    .series_content {
        margin: 25px 0 0 19px;
    }

    .series_section.third {
        display: block;
    }
}