* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
}

body {
    background-color: #E5E5E5;
}

.wrapper {
    width: 1200px;
    height: 2338px;
    margin-left: 359px;
    position: relative;
    background-color: #ffffff;
}

.head .banner {
    height: 173px;
    background: linear-gradient(360deg, #223036 0%, #223036 100%);
}

.banner .banner_logo {
    position: absolute;
    width: 370px;
    height: 80px;
    left: 47px;
    top: 48px;
}

.banner_logo .logo_name {
    position: absolute;
    top: 21px;
    height: 40px;
}

.logo_name .logo_name__h .h1 {
    position: absolute;
    left: 22px;
}

.logo_name .logo_name__h .h2 {
    position: absolute;
    left: 47px;
}

.logo_name .logo_name__a1 .a1 {
    position: absolute;
    left: 62px;
}

.logo_name .logo_name__a1 .a2 {
    position: absolute;
    left: 77px;
}

.logo_name .logo_name__r1 .r1 {
    position: absolute;
    left: 107px;
}

.logo_name .logo_name__r1 .r2 {
    position: absolute;
    left: 119px;
}

.logo_name .logo_name__r1 .r3 {
    position: absolute;
    left: 123px;
    top: 28px;
}

.logo_name .logo_name__d .d1 {
    position: absolute;
    left: 147px;
}

.logo_name .logo_name__d .d2 {
    position: absolute;
    left: 159px;
}

.logo_name .logo_name__w .w1 {
    position: absolute;
    left: 183px;
}

.logo_name .logo_name__w .w2 {
    position: absolute;
    left: 193px;
    top: 14px;
}

.logo_name .logo_name__w .w3 {
    position: absolute;
    left: 210px;
}

.logo_name .logo_name__a2 .a1 {
    position: absolute;
    left: 232px;
}

.logo_name .logo_name__a2 .a2 {
    position: absolute;
    left: 247px;
}

.logo_name .logo_name__r2 .r1 {
    position: absolute;
    left: 276px;
}

.logo_name .logo_name__r2 .r2 {
    position: absolute;
    left: 288px;
}

.logo_name .logo_name__r2 .r3 {
    position: absolute;
    left: 292px;
    top: 28px;
}

.logo_name .logo_name__e .e1 {
    position: absolute;
    left: 317px;
}

.logo_name .logo_name__e .e2 {
    position: absolute;
    left: 329px;
}

.logo_name .logo_name__e .e3 {
    position: absolute;
    left: 329px;
    top: 15px;
}

.logo_name .logo_name__e .e4 {
    position: absolute;
    left: 329px;
    top: 31px;
}

.banner .banner_content {
    position: absolute;
    width: 658px;
    height: 87px;
    left: 474px;
    top: 43px;
}

.banner_content span {
    font-size: 14px;
    line-height: 22px;
    font-family: "PTSansCaptionRegular";
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.banner__btn a {
    position: absolute;
    width: 40px;
    height: 13px;
    left: 1141px;
    top: 14px;
    font-family: "PTSansBold";
    font-size: 15px;
    line-height: 10px;
    align-items: center;
    text-align: right;
    text-decoration: none;
}

.head .menu {
    position: relative;
    margin-top: 1px;
    height: 48px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

.menu a {
    margin-left: 49px;
    margin-top: 13px;

    font-family: "BrutalRegular";
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;

    letter-spacing: -0.02em;
    color: #000000;
}

.menu .menu__hide {
    position: absolute;
    left: 46px;
    top: 17px;
}

.menu .menu__news {
    width: 64px;
    height: 17px;
    margin-left: 103px;
}

.menu .menu__video {
    width: 54px;
    height: 17px;
}

.menu .menu__tests {
    width: 47px;
    height: 17px;
}

.menu .menu__series {
    width: 51px;
    height: 17px;
}

.menu .menu__categories {
    width: 54px;
    height: 17px;
}

.menu .menu__search {
    position: absolute;
    left: 1173px;
    top: 17px;
}

.sideSeries {
    position: absolute;
    width: 251px;
    height: 442px;
    left: 881px;
    top: 321px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.side_head__name {
    width: 92px;
    height: 24px;
    margin-top: 20px;
    margin-left: 20px;
    background: #333333;
    border-radius: 2px;
    
    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    padding-left: 1px;
    padding-top: 2px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.side_head__other {
    margin-top: -23.5px;

    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #0776D2;
}

.sideSeries .side_head__other {
    width: 61px;
    height: 24px;
    margin-left: 173px;
}

.sideTests .side_head__other {
    width: 59px;
    height: 24px;
    margin-left: 176px;
}

.sideVideo .side_head__other {
    width: 62px;
    height: 24px;
    margin-left: 172px;
}

.sideNews .side_head__other {
    width: 74px;
    height: 25px;
    margin-left: 160px;
}

.sideSeries_body {
    position: absolute;
    top: 55px;
    height: 325px;
}

.sideSeries_body__head {
    margin-left: 20px;
    margin-top: 3px;
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.sideSeries_body_content {
    height: 250px;
    margin: 15px 15px 0 15px;
}

.sideSeries_body_content .content_items1 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin-left: 20px;
    margin-top: 25px;
    color: #333333;
}

.sideSeries_body_content .content_items2 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin-left: 20px;
    margin-top: 24px;
    color: #333333;
}

.sideSeries_body_content .content_items3 {
    display: flex;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin-left: 20px;
    margin-top: 23px;
    color: #333333;
}

.sideSeries_body_content .content_progress {
    position: absolute;
    top: 65px;
    width: 10px;
    height: 250px;
}

.content_progress .content_progress__line {
    width: 259px;
    height: 0px;
    margin-left: 5px;
}

.content_progress .content_progress__topline {
    position: absolute;
    top: 0px;
    left: -5px;
    width: 20px;
    height: 15px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%), linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.content_progress .content_progress__bottomline {
    position: absolute;
    top: 210px;
    width: 17px;
    height: 46px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 74.8%);
}

.content_progress__circle1 {
    position: absolute;
    top: 16px;
}

.content_progress__circle2 {
    position: absolute;
    top: 60px;
}

.content_progress__circle3 {
    position: absolute;
    top: 166px;
}

.side__btn {
    position: absolute;
    width: 214px;
    height: 32px;
    bottom: 20px;
    left: 20px;
    background: #FAAF3F;
    border-radius: 2px;

    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    padding-top: 6px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
}

.sideTests .side__btn {
    bottom: 23px;
}

.sideTests {
    position: absolute;
    width: 251px;
    height: 374px;
    left: 881px;
    top: 783px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideTests .sideTests_body {
    margin-top: 16.5px;
    margin-left: 19px;
    width: 215px;
    height: 238px;
    background-image: url(./assets/side/sideTests.png);
}

.sideTests_body_content {
    width: 215px;
    height: 238px;
}

.sideTests_body_content .content__text {
    margin-left: 20px;
    padding-top: 60px;
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #ffffff;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.content_labels {
    display: flex;
    margin-left: 10px;
    margin-top: 68px;
}

.labels__item {
    display: flex;
    margin-left: 9.5px;
}

.item__num {
    font-family: "PTSansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    margin-left: 5px;

    align-items: center;
}

.sideVideo {
    position: absolute;
    left: 881px;
    top: 1177px;
    width: 251px;
    height: 270px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideVideo_body {
    width: 214px;
    height: 146px;
    margin-left: 20px;
    margin-top: 24px;
    background-image: url(./assets/side/sideVideos.png);
}

.sideVideo_body img {
    margin-top: 57px;
    margin-left: 91px;
}

.sideVideo__text {
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    margin-left: 21px;
    margin-top: 16px;
    
    color: #333333;
}

.sideNews {
    position: absolute;
    left: 881px;
    top: 1467px;
    width: 251px;
    height: 226px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sideNews .side_head__name {
    height: 26px;
    padding-top: 3px;
}

.sideNews_content {
    width: 214px;
    height: 160px;
    margin-left: 20px;
}

.content__date {
    margin-left: 1px;
    margin-top: 17px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #333333;
}

.content__time {
    margin-top: 6px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #516E77;
}

.content__text {
    margin-top: 4px;
    font-family: "PTSansRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    color: #333333;
}

.main {
    width: 789px;
    height: 2110px;
    margin-left: 72px;
}

.main_head {
    font-family: "PTSansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    margin-left: -2px;
    margin-top: 38px;
    letter-spacing: -0.02em;
    color: #000000;
}

.main_bigSection {
    position: relative;
    margin-top: 39px;
    width: 789px;
    height: 1120px;
    color: #ffffff;
}

.bigSection_firstBlock {
    position: relative;
    width: 789px;
    height: 492px;
    background-image: url(./assets/bigSection_firstBlock.png);
}

.block__label {
    position: absolute;
    width: 118px;
    height: 24px;
    left: 20px;
    top: 150px;
    background: #FAAF3F;
    border-radius: 2px;
}

.block__label span {
    width: 118px;
    height: 11px;
    padding-left: 11px;
    padding-top: 2px;
    font-family: "BrutalMedium";
    display: flex;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.block__head {
    position: absolute;
    width: 558px;
    height: 83px;
    top: 214px;
    left: 20px;

    font-family: "BrutalBold";
    font-size: 24px;
    line-height: 30px;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.block__content {
    position: absolute;
    width: 720px;
    height: 73px;
    top: 319px;
    left: 20px;

    font-family: "PTSansRegular";
    font-size: 18px;
    line-height: 24px;
}

.block__inscription {
    position: absolute;
    width: 294px;
    height: 23px;
    left: 20px;
    top: 435px;
    
    font-family: "PTSansBold";
    font-size: 15px;
    line-height: 24px;
}

.block__inscription span {
    font-family: "PTSansRegular";
    font-size: 10px;
}

.block_labels {
    position: absolute;
    left: 590px;
    top: 443px;
    display: flex;
}

.bigSection_secondBlock {
    position: relative;
    width: 789px;
    height: 492px;
    margin-top: 25px;

    display: flex;
}

.secondBlock_left {
    position: relative;
    width: 517px;
    height: 492px;
    background-image: url(./assets/secondBlock_left.png);
}

.secondBlock_left .block__label {
    top: 85px;
}

.secondBlock_left .block__label span{
    padding-left: 28px;
}

.secondBlock_left .block__head {
    width: 430px;
    height: 83px;
    top: 149px;
}

.secondBlock_left .block__content {
    width: 430px;
    height: 100px;
    top: 273px;
}

.secondBlock_left .block__inscription {
    width: 430px;
    height: 100px;
    top: 409px;
}

.secondBlock_left .block_labels {
    left: 10px;
    top: 446.5px;
}

.secondBlock_right {
    position: relative;
    width: 247px;
    height: 492px;
    margin-left: 25px;
    background-image: url(./assets/secondBlock_right.png);
}

.secondBlock_right .block__label{
    top: 85px;
    left: 20px;
}

.secondBlock_right .block__label span{
    padding-left: 28px;
}

.secondBlock_right .block__head {
    width: 217px;
    height: 186px;
    top: 149px;
}

.secondBlock_right .block__inscription {
    width: 430px;
    height: 100px;
    top: 409px;
    left: 18px;
}

.secondBlock_right .block_labels {
    left: 9px;
    top: 446.5px;
}

.bigSection__text {
    width: 791px;
    height: 66px;
    margin-top: 28px;
    margin-left: -2px;
}

.bigSection__text span {
    font-family: "PTSansRegular";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.bigSection__text b {
    font-family: "PTSansBold";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.best_head {
    height: 50px;
    display: inline-flex;
}

.best_head__item {
    height: 29px;
    margin-left: -1px;
    margin-top: 15px;
    font-family: "PTSansBold";
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}

.best_head__item + .best_head__item {
    margin-left: 55px;
}

.best_head__item.first {
    width: 128px;
}

.best_head__item.second {
    width: 108px;
}

.best_head__item.third {
    width: 158px;
    margin-left: 45px;
}

.best_head__item.item_active {
    border-bottom: 2px solid #F7AB32;
}

.nav_arrows {
    display: flex;
    margin-top: 16px;
    margin-left: 248px;
}

.nav_arrows__arrleft {
    width: 13px;
    height: 13px;
}

.nav_arrows__arrright {
    width: 13px;
    height: 13px;
    margin-left: 22.5px;
}

.best_content {
    display: flex;
    margin-left: -1px;
    margin-top: 23px;
}

.best_content .section {
    width: 250px;
    height: 177px;
}

.best_content .section + .section {
    margin-left: 20px;
}

.section.first {
    position: relative;
    background-image: url(./assets/section1.png);
}

.section.second {
    position: relative;
    background-image: url(./assets/section2.png);
}

.section.third {
    position: relative;
    background-image: url(./assets/section3.png);
}

.section .section__head {
    margin-top: 15px;
    margin-left: 20px;
    font-family: "BrutalBold";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.section .block_labels {
    top: 141px;
    left: 9.5px;
}

.main .series {
    height: 600px;
    margin-top: 35px;
}

.series_head {
    height: 39px;
    margin-top: 3px;
    margin-left: -2px;
    display: inline-flex;
}

.series_head .nav_arrows {
    margin-top: 1px;
    margin-left: 663px;
}

.series_head .head__text{
    font-family: "PTSansCaptionRegular";
    font-size: 28px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #000000;
}

.series_content {
    margin-top: 22px;
    margin-left: -1px;
    display: flex;
}

.series_section {
    position: relative;
    width: 380px;
    height: 516px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.series_section + .series_section {
    margin-left: 29px;
}

.series_section .section__head {
    margin-left: 21px;
    margin-top: 21px;
    width: 250px;
    height: 46px;
    
    font-family: "BrutalBold";
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.series_section .section_body {
    margin-top: 20px;
    margin-left: 16px;
    width: 340px;
    height: 370px;
}

.section_body .body_progress {
    position: relative;
    margin-left: 1px;
    width: 15px;
}

.progress__line {
    margin-left: 5px;
}

.progress__circle1 {
    position: absolute;
    top: 11px;
}

.progress__circle2 {
    position: absolute;
    top: 56px;
}

.progress__circle3 {
    position: absolute;
    top: 121px;
}

.progress__circle4 {
    position: absolute;
    top: 205px;
}

.progress__circle5 {
    position: absolute;
    top: 289px;
}

.progress__topline {
    position: absolute;
    width: 20px;
    height: 8px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%), linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 126.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.progress__bottomline {
    position: absolute;
    top: 330px;
    width: 17px;
    height: 46px;
    background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #FFFFFF 74.8%);
}

.body_items {
    position: absolute;
    left: 41px;
    top: 93px;
}

.body_item {
    width: 320px;
    height: 20px;
    
    font-family: "PTSansRegular";
    font-size: 15px;
    line-height: 21px;
    color: #333333;
}

.body_item + .body_item {
    margin-top: 25px;
}

.body_item.first {
    height: 20px;
}

.body_item.second {
    height: 41px;
}

.body_item.third {
    height: 59px;
}

.series_section .section_btn {
    margin-left: 90px;
    width: 197px;
    height: 32px;
    
    background: #FAAF3F;
    border-radius: 2px;
}

.series_section .section_btn span {
    margin-left: 41px;
    padding-top: 7px;

    font-family: "BrutalRegular";
    font-size: 14px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


@media screen and (max-width: 1440px) {
    .wrapper {
        margin-left: 120px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 1024px;
        margin-left: 0px;
    }

    .banner .banner_logo {
        left: 32px;
    }

    .banner .banner_content {
        width: 550px;
        top: 36px;
        left: 424.5px;
    }

    .banner .banner_content span span{
        white-space: nowrap;
    }

    .banner__btn a {
        position: absolute;
        width: 40px;
        height: 13px;
        left: 969px;
        top: 16px;
        font-family: "PTSansBold";
        font-size: 15px;
        line-height: 10px;
        align-items: center;
        text-align: right;
        text-decoration: none;
    }
    
    .menu .menu__hide {
        left: 39px;
    }

    .menu .menu__news {
        width: 64px;
        height: 17px;
        margin-left: 84px;
    }
    
    .menu .menu__search {
        position: absolute;
        left: 989px;
        top: 17px;
    }

    .main {
        width: 730px;
        margin-left: 12px;
    }
    
    .main_head {
        margin-left: -2px;
        margin-top: 29px;
    }
    
    .main_bigSection {
        margin-top: 43px;
        width: 750px;
    }
    
    .bigSection_firstBlock {
        margin-top: 20px;
        width: 730px;
        height: 492px;
        background-image: url(./assets/bigSection_firstBlock1024.png);
    }
    
    .block__content {
        width: 692px;
        top: 319px;
        left: 20px;
    }

    .block__content span {
        font-family: "PTSansRegular";
        font-size: 18px;
        line-height: 24px;
        white-space: nowrap;
    }
    
    .block__inscription {
        display: flex;
        position: absolute;
        width: 294px;
        height: 23px;
        left: 20px;
        top: 436px;
        
        font-family: "PTSansBold";
        font-size: 15px;
        line-height: 24px;
    }
    
    .block__inscription span {
        margin-left: 2px;
        margin-top: 2px;
        font-family: "PTSansRegular";
        font-size: 10px;
    }
    
    .block_labels {
        left: 532px;
        top: 440px;
    }
    
    .secondBlock_left {
        width: 354px;
        height: 492px;
        background-image: url(./assets/secondBlock_left1024.png);
    }
    
    .secondBlock_left .block__head {
        width: 314px;
    }
    
    .secondBlock_left .block__content {
        display: none;
    }
    
    .secondBlock_left .block_labels {
        top: 446px;
    }
    
    .secondBlock_right {
        width: 354px;
        margin-left: 22px;
        background-image: url(./assets/secondBlock_right1024.png);
    }
    
    .secondBlock_right .block__inscription {
        left: 20px;
    }
    
    .secondBlock_right .block_labels {
        left: 10px;
        top: 446px;
    }
    
    .bigSection__text {
        width: 732px;
    }
    
    .best {
        overflow: hidden;
    }

    .best_head__item {
        height: 32px;
        margin-left: -2px;
        margin-top: 12px;
    }
    
    .best_head__item + .best_head__item {
        margin-top: 14px;
        margin-left: 55px;
    }
    
    .best_head__item.third {
        margin-left: 45px;
    }

    .nav_arrows {
        display: none;
    }
    
    .best_content {
        overflow: hidden;
        width: 790px;
    }
    
    .section .block_labels {
        top: 140.5px;
        left: 9.5px;
    }

    .main .series {
        height: 600px;
        margin-top: 35px;
    }

    .series_head {
        margin-top: -1px;
    }

    .series_head .nav_arrows {
        display: none;
    }

    .series_content {
        margin-top: 25px;
        margin-left: -1px;
    }

    .series_section {
        width: 352px;
    }

    .series_section + .series_section {
        margin-left: 30px;
    }

    .series_section .section_body {
        width: 290px;
    }

    .body_item {
        width: 290px;
        height: 20px;
    }

    .body_item span {
        white-space: nowrap;

        font-family: "PTSansRegular";
        font-size: 15px;
        line-height: 21px;
        color: #333333;
    }
    .series_section .section_btn {
        margin-left: 78px;
    }

    .sideSeries {
        left: 762px;
        top: 319px;
    }
    
    .sideSeries .side_head__name {
        margin-top: 17px;
    }
    
    .sideSeries_body {
        top: 52px;
    }
    
    .side__btn {
        padding-left: 2px;
        padding-top: 7px;
    }

    .sideTests .side_head__other {
        width: 59px;
        height: 24px;
        margin-left: 176px;
        margin-top: -25px;
    }

    .sideTests .side__btn {
        bottom: 23px;
    }
    
    .sideTests {
        left: 762px;
        top: 780px;
    }

    .sideTests .side_head__name {
        margin-top: 10px;
    }

    .sideTests_head {
        margin-top: 18px;
    }

    .sideTests .sideTests_body {
        margin-top: 19px;
        margin-left: 19px;
    }

    .sideVideo .side_head__other {
        width: 62px;
        height: 24px;
        margin-left: 172px;
    }

    .sideVideo {
        left: 762px;
        top: 1172px;
        width: 251px;
        height: 273px;
    }

    .sideVideo_head {
        margin-top: 50px;
    }

    .sideVideo_body {
        width: 214px;
        height: 148px;
        margin-top: 23px;
        background-image: url(./assets/side/sideVideos1024.png);
    }
    
    .sideVideo_body img {
        margin-top: 58.5px;
    }
    
    .sideVideo__text {
        margin-left: 20px;
        margin-top: 17px;
    }

    .sideNews {
        left: 762px;
        top: 1462px;
        height: 229px;
    }
    
    .sideNews .side_head__other {
        margin-top: -26px;
    }
    
    .content__date {
        margin-left: 1px;
        margin-top: 19.5px;
    }
    
    .content__time {
        margin-top: 5px;
        margin-left: -1px;
    }
    
    .content__text {
        margin-top: 7px;
    }
}

@font-face {
    font-family: "BrutalBold";
    src: url("./assets/fonts/BrutalBold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    font-family: "BrutalMedium";
    src: url("./assets/fonts/BrutalMedium.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
} 
@font-face {
    font-family: "BrutalRegular";
    src: url("./assets/fonts/BrutalRegular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "PTSansBold";
    src: url("./assets/fonts/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    font-family: "PTSansBoldItalic";
    src: url("./assets/fonts/PTSans-BoldItalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: bold; 
} 
@font-face {
    font-family: "PTSansItalic";
    src: url("./assets/fonts/PTSans-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal; 
} 
@font-face {
    font-family: "PTSansRegular";
    src: url("./assets/fonts/PTSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "PTSansCaptionBold";
    src: url("./assets/fonts/PTSansCaption-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
}
@font-face {
    font-family: "PTSansCaptionRegular";
    src: url("./assets/fonts/PTSansCaption-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
}