@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        height: 2338px;
        margin-left: 0px;
    }
    
    .head .banner {
        position: relative;
        height: 48px;
        background: linear-gradient(360deg, #223036 0%, #223036 100%);
    }
    
    .banner .banner__menu {
        display: block;
        top: 16px;
        left: 16px;
    }
    
    .banner .banner_logo,
    .menu .menu__search,
    .menu .menu__search2,
    .banner .banner_content,
    .menu .menu__hide,
    .sideSeries, .sideTests, .sideVideo, .sideNews,
    .block__content {
        display: none;
    }

    .banner .banner_logoMini {
        display: block;
    }

    .banner_logoMini .logoMini__frame {
        position: absolute;
        top: 7px;
        left: 54px;
    }
    .banner_logoMini .logo_name__h img {
        width: 18px;
        height: 18px;
    }

    .banner_logoMini .logo_name__h .h1 {
        position: absolute;
        top: 15px;
        left: 60px;
    }

    .banner_logoMini .logo_name__h .h2 {
        position: absolute;
        top: 15px;
        left: 68px;
    }

    .banner .banner__search {
        display: block;
        position: absolute;
        top: 16px;
        left: 85%;
    }
    
    .banner__btn a {
        left: 90%;
        top: 17px;
    }
    
    .menu {
        display: inline-flex;
        width: 100%;
    }

    .menu a {
        margin: 10px 0 0 0;
    
        font-family: "PTSansCaptionRegular";
        font-size: 14px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .menu .menu__news {
        width: 60px;
        height: 30px;
        margin-left: 6%;
        text-align: center;
    }
    
    .menu .menu__video {
        width: 43px;
        height: 30px;
        margin-left: 5%;
    }
    
    .menu .menu__tests {
        width: 38px;
        height: 30px;
        margin-left: 6%;
    }
    
    .menu .menu__series {
        width: 42px;
        height: 30px;
        margin-left: 6%;
    }
    
    .menu .menu__categories {
        width: 60px;
        height: 30px;
        margin-left: 6%;
    }

    .main {
        width: 100%;
        height: 2120px;
        margin-left: 0;
    }
    
    .main__head {
        margin: 22px 0 0 11px;

        font-family: "PTSansCaptionRegular";
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .main_bigSection {
        margin-top: 21px;
        width: 100%;
        height: 1370px;
    }
    
    .bigSection_firstBlock {
        background-image: url(./assets/bigSection_firstBlock.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-height: 386px;
    }
    
    .bigSection_firstBlock:hover .block__topleftAngle,
    .bigSection_firstBlock:hover .block__toprightAngle,
    .bigSection_firstBlock:hover .block__botleftAngle,
    .bigSection_firstBlock:hover .block__botrightAngle {
        opacity: 0;
    }

    .block__label {
        left: 14px;
        top: 114px;
    }
    
    .block__head {
        width: 80%;
        height: 102px;
        margin: 42px 0 0 -5px;

        font-family: "BrutalBold";
        font-size: 20px;
        line-height: 28px;

        letter-spacing: -0.02em;
        text-transform: uppercase;

        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    }
    
    .block__inscription {
        width: 294px;
        height: 23px;
        margin: -14px 0 0 -18px;
    }
    
    .block__inscription span {
        font-family: "PTSansRegular";
        font-size: 10px;
        margin-left: 2px;
    }
    
    .block_labels {
        margin: -11px 0 0 -18px;
        display: flex;
    }

    .bigSection_secondBlock {
        width: 100%;
        height: 776px;
        margin-top: 15px;
        display: block;
    }
    
    .secondBlock_left {
        background-image: url(./assets/secondBlock_left768.png);
        background-size: cover;
        background-position: top;
        width: 100%;
        max-height: 386px;
    }
    
    .secondBlock_left .block__label {
        top: 114px;
        left: 14px;
        width: 104px;
        height: 24px;
    }
    
    .secondBlock_left .block__label span{
        padding-left: 21.5px;
    }
    
    .secondBlock_left .block__head {
        width: 80%;
        height: 102px;
        top: 120px;
    }
    
    .secondBlock_left .block__inscription {
        width: 430px;
        height: 100px;
        top: 321px;
        left: 32px;
    }
    
    .secondBlock_left .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .secondBlock_right {
        background-image: url(./assets/secondBlock_right768.png);
        background-size: cover;
        background-position: top;
        width: 100%;
        max-height: 386px;
    }
    
    .secondBlock_right .block__label{
        top: 114px;
        left: 14px;
        width: 104px;
        height: 24px;
    }
    
    .secondBlock_right .block__label span{
        padding-left: 21.5px;
    }
    
    .secondBlock_right .block__head {
        width: 80%;
        height: 102px;
        top: 120px;
    }
    
    .secondBlock_right .block__inscription {
        width: 430px;
        height: 100px;
        top: 321px;
        left: 32px;
    }
    
    .secondBlock_right .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .secondBlock_left:hover .block__topleftAngle,
    .secondBlock_left:hover .block__toprightAngle,
    .secondBlock_left:hover .block__botleftAngle,
    .secondBlock_left:hover .block__botrightAngle,
    .secondBlock_right:hover .block__topleftAngle,
    .secondBlock_right:hover .block__toprightAngle,
    .secondBlock_right:hover .block__botleftAngle,
    .secondBlock_right:hover .block__botrightAngle {
        opacity: 0;
    }

    .bigSection__text {
        width: 95%;
        height: 190px;
        margin: 38px 0 0 17px;
    }
    
    .bigSection__text span {
        font-family: "PTSansRegular";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }
    
    .bigSection__text b {
        font-family: "PTSansBold";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }

    .bigSection__text b span {
        word-spacing: 9999999px;
    }

    .best_head__item {
        width: 130px;
        height: 29px;
        margin: 23px 0 0 15px;
        font-family: "PTSansBold";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }
    
    .best_head__item + .best_head__item {
        margin: 23px 0 0 29px;
    }
    
    .best_head__item.first {
        width: 128px;
    }
    
    .best_head__item.second2 {
        display: block;
        width: 27px;
    }

    .best_head__item.third2 {
        display: block;
        width: 77px;
        margin-left: 28px;
    }

    .best_head__item.second,
    .best_head__item.third,
    .nav_arrows {
        display: none;
    }
    
    .best_content {
        display: flex;
        margin: 22px 0 0 19px;
    }
    
    .section:hover .block__topleftAngle,
    .section:hover .block__toprightAngle,
    .section:hover .block__botleftAngle,
    .section:hover .block__botrightAngle {
        opacity: 0;
    }

    .best_content .section {
        width: 250px;
        height: 177px;
    }
    
    .best_content .section + .section {
        margin-left: 16px;
    }
    
    .section.first {
        position: relative;
        background-image: url(./assets/section1.png);
    }
    
    .section.second {
        position: relative;
        background-image: url(./assets/section2.png);
    }
    
    .section.third {
        position: relative;
        background-image: url(./assets/section3.png);
    }
    
    .section .section__head {
        margin: 15px 0 0 20px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }

    .section .section__head span {
        word-spacing: 0px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }
    
    .section .block_labels {
        top: 152px;
        left: 28px;
    }

    .main .series {
        width: 100%;
        height: 430px;
        margin-top: 21px;
    }
    
    .series_head,
    .series_head .nav_arrows {
        display: none;
    }
    
    .series .section_title {
        display: inline-flex;
        width: 290px;
    }

    .section_title .side_head__name {
        margin-top: 20px;
    }

    .section_title .side_head__other {
        margin: 20px 0 0 95px;
    }

    .section_title .side_head__other:hover {
        text-decoration-line: none;
        cursor: default;
    }

    .series_content {
        height: 430px;
        margin: 0 0 0 -10px;
        display: flex;
    }
    
    .series_section {
        min-width: 288px;
        height: 413px;
        margin-left: 35px;
    }
    
    .series_section .section__head {
        margin: 13px 0 0 20px;
    }
    
    .series_section .section_body {
        position: relative;
        margin: 20px 0 0 14px;
        width: 260px;
        height: 230px;
    }
    
    .section_body .body_progress {
        height: 220px;
        overflow: hidden;
    }
    
    .progress__topline {
        height: 10px;
    }
    
    .progress__bottomline {
        top: 180px;
    }
    
    .body_items {
        position: absolute;
        left: 21px;
        top: 8px;
        width: 250px;
        height: 220px;
    }
    
    .body_item {
        width: 203px;
    }

    .body_item::before {
        margin: 7px 0 0 -20px;
    }
    
    .body_item + .body_item {
        margin-top: 15px;
    }
    
    .body_item.first {
        height: 19px;
    }
    
    .body_item.second {
        height: 63px;
    }
    
    .body_item.third {
        height: 86px;
    }

    .body_item.third.copy {
        display: none;
    }
    
    .series_section .section_btn {
        margin: 9px 0 0 20px;
        width: 248px;
    }
    
    .series_section .section_btn span {
        margin-left: 66px;
        padding-top: 7px;
    }
}

@media screen and (max-width: 560px) {
    .menu .menu__news {
        margin-left: 3%;
    }
}

@media screen and (max-width: 530px) {
    .menu .menu__news {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .menu .menu__news {
        margin-left: 2%;
    }
    
    .menu .menu__video {
        margin-left: 3%;
    }
    
    .menu .menu__tests {
        margin-left: 4%;
    }
    
    .menu .menu__series {
        margin-left: 4%;
    }
    
    .menu .menu__categories {
        margin-left: 4%;
    }
}

@media screen and (max-width: 470px) {
    .menu .menu__news {
        margin-left: 0;
    }
    
    .menu .menu__categories {
        margin-left: 3%;
    }
}

@media screen and (max-width: 440px) {
    
    .menu .menu__video {
        margin-left: 2%;
    }
    
    .menu .menu__tests {
        margin-left: 2%;
    }
    
    .menu .menu__series {
        margin-left: 2%;
    }
    
    .menu .menu__categories {
        margin-left: 2%;
    }
}

@media screen and (max-width: 410px) {
    
    .menu .menu__video {
        margin-left: 0;
    }
    
    .menu .menu__tests {
        margin-left: 0;
    }
    
    .menu .menu__series {
        margin-left: 0;
    }
    
    .menu .menu__categories {
        margin-left: 0;
    }
}

@media screen and (max-width: 380px) {
    .banner .banner__search {
        left: 80%;
    }
    
    .banner__btn a {
        left: 85%;
    }

    .menu .menu__video {
        margin-left: -2%;
    }
    
    .menu .menu__tests {
        margin-left: -2%;
    }
    
    .menu .menu__series {
        margin-left: -2%;
    }
    
    .menu .menu__categories {
        margin-left: -2%;
    }
}

@media screen and (max-width: 350px) {
    
    .menu .menu__video {
        margin-left: -4%;
    }
    
    .menu .menu__tests {
        margin-left: -4%;
    }
    
    .menu .menu__series {
        margin-left: -4%;
    }
    
    .menu .menu__categories {
        margin-left: -4%;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        width: 320px;
        height: 2338px;
        margin-left: 0px;
    }
    
    .head .banner {
        position: relative;
        height: 48px;
        background: linear-gradient(360deg, #223036 0%, #223036 100%);
    }
    
    .banner .banner__menu {
        display: block;
        top: 16px;
        left: 16px;
    }
    
    .banner .banner_logo,
    .menu .menu__search,
    .menu .menu__search2,
    .banner .banner_content,
    .menu .menu__hide,
    .sideSeries, .sideTests, .sideVideo, .sideNews,
    .block__content {
        display: none;
    }

    .banner .banner_logoMini {
        display: block;
    }

    .banner_logoMini .logoMini__frame {
        position: absolute;
        top: 7px;
        left: 54px;
    }
    .banner_logoMini .logo_name__h img {
        width: 18px;
        height: 18px;
    }

    .banner_logoMini .logo_name__h .h1 {
        position: absolute;
        top: 15px;
        left: 60px;
    }

    .banner_logoMini .logo_name__h .h2 {
        position: absolute;
        top: 15px;
        left: 68px;
    }

    .banner .banner__search {
        display: block;
        position: absolute;
        top: 16px;
        left: 247px;
    }
    
    .banner__btn a {
        left: 268px;
        top: 17px;
    }
    
    .menu {
        display: inline-flex;
        width: 320px;
    }

    .menu a {
        margin: 10px 0 0 0;
    
        font-family: "PTSansCaptionRegular";
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .menu .menu__news {
        width: 60px;
        height: 30px;
        margin: 9px 0 0 1px;
    }
    
    .menu .menu__video {
        width: 43px;
        height: 30px;
        margin-left: -14px;
    }
    
    .menu .menu__tests {
        width: 38px;
        height: 30px;
        margin-left: -22px;
    }
    
    .menu .menu__series {
        width: 42px;
        height: 30px;
        margin-left: -15px;
    }
    
    .menu .menu__categories {
        width: 60px;
        height: 30px;
        margin-left: -15px;
    }

    .main {
        width: 320px;
        height: 2120px;
        margin-left: 0px;
    }
    
    .main__head {
        margin: 22px 0 0 11px;

        font-family: "PTSansCaptionRegular";
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #000000;
    }
    
    .main_bigSection {
        margin-top: 21px;
        width: 320px;
        height: 1390px;
    }
    
    .bigSection_firstBlock {
        width: 320px;
        height: 386px;
        background-image: url(./assets/bigSection_firstBlock320.png);
    }
    
    .bigSection_firstBlock:hover .block__topleftAngle,
    .bigSection_firstBlock:hover .block__toprightAngle,
    .bigSection_firstBlock:hover .block__botleftAngle,
    .bigSection_firstBlock:hover .block__botrightAngle {
        opacity: 0;
    }

    .block__label {
        left: 14px;
        top: 114px;
    }
    
    .block__head {
        width: 290px;
        height: 102px;
        margin: 42px 0 0 -5px;

        font-family: "BrutalBold";
        font-size: 20px;
        line-height: 28px;

        letter-spacing: -0.02em;
        text-transform: uppercase;

        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    }
    
    .block__inscription {
        width: 294px;
        height: 23px;
        margin: -14px 0 0 -18px;
    }
    
    .block__inscription span {
        font-family: "PTSansRegular";
        font-size: 10px;
        margin-left: 2px;
    }
    
    .block_labels {
        margin: -11px 0 0 -18px;
        display: flex;
    }

    .bigSection_secondBlock {
        width: 320px;
        height: 776px;
        margin-top: 15px;
        display: block;
    }
    
    .secondBlock_left {
        width: 320px;
        height: 386px;
        background-image: url(./assets/secondBlock_left320.png);
    }
    
    .secondBlock_left .block__label {
        top: 114px;
        left: 14px;
        width: 104px;
        height: 24px;
    }
    
    .secondBlock_left .block__label span{
        padding-left: 21.5px;
    }
    
    .secondBlock_left .block__head {
        width: 290px;
        height: 102px;
        top: 120px;
    }
    
    .secondBlock_left .block__inscription {
        width: 430px;
        height: 100px;
        top: 321px;
        left: 32px;
    }
    
    .secondBlock_left .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .secondBlock_right {
        width: 320px;
        height: 386px;
        background-image: url(./assets/secondBlock_right320.png);
    }
    
    .secondBlock_right .block__label{
        top: 114px;
        left: 14px;
        width: 104px;
        height: 24px;
    }
    
    .secondBlock_right .block__label span{
        padding-left: 21.5px;
    }
    
    .secondBlock_right .block__head {
        width: 290px;
        height: 102px;
        top: 120px;
    }
    
    .secondBlock_right .block__inscription {
        width: 430px;
        height: 100px;
        top: 321px;
        left: 32px;
    }
    
    .secondBlock_right .block_labels {
        left: 22px;
        top: 355px;
    }
    
    .secondBlock_left:hover .block__topleftAngle,
    .secondBlock_left:hover .block__toprightAngle,
    .secondBlock_left:hover .block__botleftAngle,
    .secondBlock_left:hover .block__botrightAngle,
    .secondBlock_right:hover .block__topleftAngle,
    .secondBlock_right:hover .block__toprightAngle,
    .secondBlock_right:hover .block__botleftAngle,
    .secondBlock_right:hover .block__botrightAngle {
        opacity: 0;
    }

    .bigSection__text {
        width: 320px;
        height: 190px;
        margin: 38px 0 0 17px;
    }
    
    .bigSection__text span {
        font-family: "PTSansRegular";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }
    
    .bigSection__text b {
        font-family: "PTSansBold";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }

    .bigSection__text b span {
        word-spacing: 9999999px;
    }

    .best_head__item {
        width: 130px;
        height: 29px;
        margin: 23px 0 0 15px;
        font-family: "PTSansBold";
        font-size: 17px;
        line-height: 24px;
        color: #333333;
    }
    
    .best_head__item + .best_head__item {
        margin: 23px 0 0 29px;
    }
    
    .best_head__item.first {
        width: 128px;
    }
    
    .best_head__item.second2 {
        display: block;
        width: 27px;
    }

    .best_head__item.third2 {
        display: block;
        width: 77px;
        margin-left: 28px;
    }

    .best_head__item.second,
    .best_head__item.third,
    .nav_arrows {
        display: none;
    }
    
    .best_content {
        display: flex;
        margin-left: 19px;
        margin-top: 22px;
    }
    
    .section:hover .block__topleftAngle,
    .section:hover .block__toprightAngle,
    .section:hover .block__botleftAngle,
    .section:hover .block__botrightAngle {
        opacity: 0;
    }

    .best_content .section {
        width: 250px;
        height: 177px;
    }
    
    .best_content .section + .section {
        margin-left: 16px;
    }
    
    .section.first {
        position: relative;
        background-image: url(./assets/section1.png);
    }
    
    .section.second {
        position: relative;
        background-image: url(./assets/section2.png);
    }
    
    .section.third {
        position: relative;
        background-image: url(./assets/section3.png);
    }
    
    .section .section__head {
        margin: 15px 0 0 20px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }

    .section .section__head span {
        word-spacing: 0px;
        font-family: "BrutalBold";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
    }
    
    .section .block_labels {
        top: 152px;
        left: 28px;
    }

    .main .series {
        width: 320px;
        height: 430px;
        margin-top: 21px;
    }
    
    .series_head,
    .series_head .nav_arrows {
        display: none;
    }
    
    .series .section_title {
        display: inline-flex;
        width: 290px;
    }

    .section_title .side_head__name {
        margin-top: 20px;
    }

    .section_title .side_head__other {
        margin: 20px 0 0 95px;
    }

    .section_title .side_head__other:hover {
        text-decoration-line: none;
        cursor: default;
    }

    .series_content {
        width: 350px;
        height: 430px;
        margin: 0 0 0 -10px;
        display: flex;
    }
    
    .series_section {
        min-width: 288px;
        height: 413px;
        margin-left: 35px;
    }
    
    .series_section .section__head {
        margin: 13px 0 0 20px;
    }
    
    .series_section .section_body {
        position: relative;
        margin: 20px 0 0 14px;
        width: 260px;
        height: 230px;
    }
    
    .section_body .body_progress {
        height: 220px;
        overflow: hidden;
    }
    
    .progress__topline {
        height: 10px;
    }
    
    .progress__bottomline {
        top: 180px;
    }
    
    .body_items {
        position: absolute;
        left: 21px;
        top: 8px;
        width: 250px;
        height: 220px;
    }
    
    .body_item {
        width: 203px;
    }

    .body_item::before {
        margin: 7px 0 0 -20px;
    }
    
    .body_item + .body_item {
        margin-top: 15px;
    }
    
    .body_item.first {
        height: 19px;
    }
    
    .body_item.second {
        height: 63px;
    }
    
    .body_item.third {
        height: 86px;
    }

    .body_item.third.copy {
        display: none;
    }
    
    .series_section .section_btn {
        margin: 9px 0 0 20px;
        width: 248px;
    }
    
    .series_section .section_btn span {
        margin-left: 66px;
        padding-top: 7px;
    }
}